*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.container{
    width: 100vw;

}
.board{
    width: 310px;
    height: 110px;
    padding: 8px;
    background-color: #ebecf0;
    border-radius: 5px;
}
button{
    width: 100%;
    height: 36px;
    margin-top: 20px;
    background-color: #ebecf0;
    border: none;

}
.buttons p{
    color: aquamarine;
}
button:hover{
    background-color: #222;
}